<%= form_with(url: recipes_path, scope: :recipe, html: { class: "w-full space-y-8 " }) do |form| %>
  <div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Nouvelle recette</h3>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-6">
        <%= form.label :title, "Titre", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.text_field :title, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= form.label :total_minutes, "Durée totale (en minutes)", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.number_field :total_minutes, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <div data-controller="ingredients">
          <template data-ingredients-target="template">
            <div class="fields mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <%= label_tag "recipe[ingredients_attributes][NEW_RECORD][name]", "Ingrédient", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= text_field_tag "recipe[ingredients_attributes][NEW_RECORD][name]", nil, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>

              <div class="sm:col-span-1">
                <%= label_tag "recipe[ingredients_attributes][NEW_RECORD][quantity]", "Quantité", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= text_field_tag "recipe[ingredients_attributes][NEW_RECORD][quantity]", nil, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>

              <div class="sm:col-span-1">
                <%= label_tag "recipe[ingredients_attributes][NEW_RECORD][unit]", "Unité", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= text_field_tag "recipe[ingredients_attributes][NEW_RECORD][unit]", nil, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>

              <div class="sm:col-span-1">
                <label class="block text-sm font-medium">&nbsp;</label>
                <div class="mt-1">
                  <a href="#" data-action="click->ingredients#remove" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Supprimer l'ingrédient
                  </a>
                </div>
              </div>
            </div>
          </template>

          <div data-ingredients-target="links" class="mt-6">
            <a href="#" data-action="click->ingredients#add" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Ajouter un ingrédient
            </a>
          </div>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= form.label :content, "Contenu", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.text_area :content, rows: 5, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= form.label :author, "Auteur", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.text_field :author, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= form.label :license, "Licence", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.text_field :license, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= form.label :source_url, "URL source", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.text_field :source_url, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= form.submit "Enregistrer la recette", class: "cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    </div>
  </div>
<% end %>

